<div class="TopPage">
  <div class="TaskListWrapper">
    <% @tasklists.each do |tasklist| %>
      <div class="Tasklist">
        <div class="Tasklist_header">
          <h2 class="Tasklist_header-title"><%=tasklist.title %></h2>
          <div class="Tasklist_header-action">
            <%= link_to tasklist_path(tasklist), method: :delete, data:{confirm: "#{tasklist.title}を削除してもよろしいですか"} do%>
              <i class="fas fa-trash"></i>
            <% end %>
            <%= link_to edit_tasklist_path(tasklist) do%>
              <i class="fas fa-pen"></i>
            <% end %>
          </div>
        </div>
        <div class="cardWrapper">
          <% tasklist.cards.each do |card|%>
            <div class="card">
              <h3 class="card-title"><%= card.content %></h3>
              <% if card.card_name.size > 0 %>
                <div class="card-detail">
                  <%=link_to tasklist_card_path(tasklist,card) do%>
                    <i class="fas fa-bars"></i>
                  <% end %>
               </div>
              <% end %>
            </div>
          <% end %>

           <div class="card-add">
             <i class="far fa-plus-square"></i>
             <%= link_to "タスクを追加",new_tasklist_card_path(tasklist),class:"card-add_btn"%>
           </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
